
h1, h2, h3, h4, h5{
font-family: 'Montserrat', sans-serif !important;
}
p{
  color: grey;
}

/* title section */
#title{
  background-color: #AED6F1;
}
.container-fluid{
  padding: 3% 15% !important;
}
.nav-link{
  font-size: 1.5rem;
}
.brand-name{
  font-size: 3rem !important;
}
.title-text1{
  font-size: 3.5rem;
  padding-top: 10%;
}
.title-text2{
  font-size: 2.5rem;
color: #000;
}
.navbar{
  padding-left: 0 !important;
}
.house-img{
  width: 80%;
}

/* featuers section */
#featuers{
  text-align: center;
  padding: 7% 10%;
}
.icon{
  padding-bottom: 20px;
  color: #3498DB;
}
.icon:hover{
  color: #AED6F1;
}

/* navigation-bar */
.testimonials-box{
  background-color: #AED6F1;
  text-align: center;
  padding: 5% 15% 3% 15%;

}
.testimonials-img{
  width: 20%;
}
.testimonials-para{
  padding-bottom: 3rem;
  font-size: 3rem;
}

/* pricing- section */
#pricing{
  text-align: center;
  padding: 10% 10%;
}

/* download-section */
#download{
  padding: 7% 15%;
  text-align: center;
  background-color: #AED6F1;
}
#download h2{
  font-size: 3rem;
}
.download-button{
  margin-top: 32px;
  margin-left: 4px
}

/* foote section */
#footer{
  text-align: center;
  padding-top: 7%;
}
.foot-link{
  padding-left: 16px;
  color: #000;
}
